<!DOCTYPE html>
<html>
<head>
	<title>avw dashboard</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/static/lib/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap.min.css">
	<!--<link rel="stylesheet" type="text/css" href="/static/lib/css/dc.min.css">-->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css">
	<link rel="stylesheet" type="text/css" href="/static/main_style.css">
</head>
<body>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">AVW DASHBOARD</a>
	    </div>
	    <ul class="nav navbar-nav">
	    	<li><a href="{{ url_for('about') }}">ABOUT AVW</a></li>
	    	<li><a href="{{ url_for('help') }}">HELP</a></li>
	    </ul>
    </div>
</nav>

<div>
	<h4><a href="#" id="resetAll">Reset All Charts</a></h4>
</div>

<!-- Tabs -->
<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#videoTab">Video Analytics</a></li>
  	<li><a data-toggle="tab" href="#studentab">Student Analytics</a></li>
</ul>

<div class="tab-content"> <!-- tab content -->

  <div id="videoTab" class="tab-pane active">     <!-- video tab  -->
	  	<div class="row" style="border-bottom: solid black thick">
		 	<div class="col-md-4" id="VideoRow">
		 		<h4>Number of Comments Per Video <small><a href='#' id="vidReset">reset</a></small></h4>
		 		<p class="instruct-left">click to select (click again to deselect)</p>
		 	</div>
		 	<div class="col-md-8" id="commentsPerMinute" style="padding-left: 2em">
		 		<h4>Number of Comments over Video Timeline</h4>
		 		<p class="instruct-left">selecting a video narrows this chart</p>
		 	</div>
	    </div>

	    <div class="row">
	    	<div class="col-md-7">
	    		<h4>Impact of Individual Student Comment (Size of bubble is Number of Ratings by other students) <small><a href='#' id="bubReset">reset</a></small></h4>
				<p class="instruct-left">click any bubble to select. Hover to see detailed info. </p>
	    	</div>
	    	<div class="col-md-5">
	    		<br>
				<table class="table table-responsive">
					<tbody>
						<tr>
							<td style="background-color: #ffffb2;">  0-24  </td>
							<td style="background-color: #fecc5c;">  25-49  </td>
							<td style="background-color: #fd8d3c;">  50-74  </td>
							<td style="background-color: #e31a1c;">  75-100  </td>
						</tr>
					</tbody>
				</table>
				<p style="color: #fd8d3c;">Colors represent Number of Learning Trigger Ratings (see <a href="{{ url_for('about') }}">About AVW</a> for more details)</p>
			</div>
	    </div>

	    <div class="container" id="rateBubble"></div>
		
  </div><!-- end of video tab -->

  <div id="studentab" class="tab-pane">     <!-- student tab -->
  


  			<div class="row" style="border-bottom: solid black thick">
				<div class="col-md-6" id=commentatorRow>
					<h4>Number of Comments Per Student <small><a href='#' id="studReset">reset</a></small></h4>
				 	<p class="instruct-left">click to select (affects other charts)</p>
				</div>
				<div class="col-md-6" id="barAspect">
					<h4>Number of Aspects Used by Students <small><a href='#' id="aspReset">reset</a></small></h4>
				 	<p class="instruct-left">click to select (affects other charts)</p>
				</div>
			</div>

	 	 	<div class="container-fluid">
	 	 		<h4>Student Comment Sentiment per video</h4>
	 	 	</div>
	 	 	<div class="row" style="padding:2em;">
		 	<div class="col-md-1">
		 		<select class="selectpicker show-menu-arrow" title="Choose a student" id="selectStudent">
		 			<option>LstudyID599</option>
		 			<option>UCW2</option>
					<option>UCW4</option>
					<option>UCW5</option>
					<option>UCW6</option>
					<option>UCW7</option>
					<option>UCW8</option>
					<option>UCW9</option>
					<option>UCW10</option>
					<option>UCW11</option>
					<option>UCW12</option>
					<option>UCW15</option>
					<option>UCT18</option>
					<option>UCT19</option>
					<option>UCT20</option>
					<option>UCT21</option>
					<option>UCT24</option>
					<option>UCT25</option>
					<option>UCT26</option>
					<option>UCT27</option>
					<option>UCF29</option>
					<option>UCF31</option>
					<option>UCM33</option>
					<option>UCM34</option>
					<option>UCT37</option>
					<option>UCT38</option>
					<option>UCT39</option>
					<option>LstudyID209</option>
					<option>LstudyID912</option>
					<option>LstudyID855</option>
					<option>LstudyID599</option>
					<option>LstudyID030</option>
					<option>LstudyID732</option>
					<option>LstudyID636</option>
					<option>LstudyID514</option>
					<option>LstudyID242</option>
					<option>UCW13</option>
					<option>LstudyID491</option>
					<option>UCT23</option>
		 		</select>
		 	</div>
		 	<div class="col-md-1">
		 		<select class="selectpicker" title="choose a course" id="selectVid">
		 			<option>TUTORIAL 1</option>
		 			<option>TUTORIAL 2</option>
		 			<option>TUTORIAL 3</option>
		 			<option>TUTORIAL 4</option>
		 			<option>EXAMPLE 1</option>
		 			<option>EXAMPLE 2</option>
		 			<option>EXAMPLE 3</option>
		 			<option>EXAMPLE 4</option>
		 		</select>
		 	</div>
		 	<div class="col-md-1">
		 		<button type="button" class="btn btn-info" id="sentiSubmit">Submit</button>
		 	</div>
		 	<div class="col-md-2"><p>Please wait for chart to load after pressing the button</p></div>
		</div>

		<div class="container" id=sentiplot></div>
	 	
  </div><!-- end of student tab -->


</div> <!-- tab content end --> 

<!-- js section -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js"></script>
<script src="/static/lib/js/crossfilter.min.js"></script>
<!--<script src="/static/lib/js/dc.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.js.map"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
		d3.csv("/static/presentationFinal.csv",function(data){

			//initialize crossfilter data holder
			var ndx;

			function get_csv_vals(){
				data.forEach(function(d){
					d.COMMENTID = +d.COMMENTID;
					d.CUE = +d.CUE;
					d.TRIMVIDEO = d.TRIMVIDEO;
					d.TRIMASPECT = d.TRIMASPECT;
					d.Sum = +d.Sum;
					d.TLSum = +d.TLSum;
					d.Cuebin = Math.ceil(d.CUE/60); // 60 sec bins

				});
			}// end get_csv_val


			// FILTERING AND CHARTING SEGMENT =======================================================================
			function init_crossfilter(){
				ndx = crossfilter(data);
				console.log("Size of dataset is :",ndx.size());
			} // end init_crossfilter


			// All chart names declared globally to allow resetting
			var compositeChart;
			var commentPerVideoRow;
			var commentsPerCommentatorRow;
			var barAspect;
			var rateBubble;

			// Get cuepoint bins as dimension 
			function cue_bin_viz(){
				var cueDim = ndx.dimension(function(d){
					return d.Cuebin;
				});

				function groupVid(videoName){
					var vid_by_cue = cueDim.group().reduceSum(function(d){
					if(d.TRIMVIDEO==videoName){
						return 1
					}else{
						return 0
					}
					});
					return vid_by_cue;
				}

				var ex1 = groupVid("EXAMPLE 1");
				var ex2 = groupVid("EXAMPLE 2");
				var ex3 = groupVid("EXAMPLE 3");
				var ex4 = groupVid("EXAMPLE 4");
				var tut1 = groupVid("TUTORIAL 1");
				var tut2 = groupVid("TUTORIAL 2");
				var tut3 = groupVid("TUTORIAL 3");
				var tut4 = groupVid("TUTORIAL 4");


				compositeChart = dc.compositeChart('#commentsPerMinute');

				compositeChart
			        .width(900)
			        .height(400)
			        .x(d3.scale.linear().domain([0,10]))
			        .yAxisLabel("Number of comments")
			        .xAxisLabel("Time (Minutes)")
			        .legend(dc.legend().x(500).y(20).itemHeight(13).gap(5))
			        .renderHorizontalGridLines(true)
			        .elasticX(true)
			        .elasticY(true)
			        .title(function(d){return "minute: "+d.key+"\n"+"Number of comments: "+d.value+"";})
			        .compose([
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#7fc97f')
			                .group(ex1, "EXAMPLE 1")
			                .dashStyle([2,2]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#beaed4')
			                .group(ex2, "EXAMPLE 2")
			                .dashStyle([5,5]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#fdc086')
			                .group(ex3, "EXAMPLE 3")
			                .dashStyle([10,10]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#80b1d3')
			                .group(ex4, "EXAMPLE 4")
			                .dashStyle([15,15]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#386cb0')
			                .group(tut1, "TUTORIAL 1")
			                .dashStyle([20,20]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#f0027f')
			                .group(tut2, "TUTORIAL 2")
			                .dashStyle([20,2]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#bf5b17')
			                .group(tut3, "TUTORIAL 3")
			                .dashStyle([10,5]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#666666')
			                .group(tut4, "TUTORIAL 4")
			                .dashStyle([15,2,2]),
			            ])
			        .brushOn(false)
			} //end cue_bin_viz


			function video_viz(){
				var videoDim = ndx.dimension(function(d){
					return d.TRIMVIDEO;
				});

				var commentsPerVideo = videoDim.group().reduceCount();



				// row chart
				commentPerVideoRow = dc.rowChart('#VideoRow');
				commentPerVideoRow.width(500)
								  .height(400)
								  .dimension(videoDim)
								  .group(commentsPerVideo)
								  .colors('skyblue')
								  .title(function(d){
								  	return d.key+": "+d.value+" comments";
								  });

			} // end video_viz


			function commentatorViz(){
				var commentatorDim = ndx.dimension(function(d){
					return d.COMMENTATOR;
				});

				var commentsPerCommentator = commentatorDim.group().reduceCount();

				commentsPerCommentatorRow = dc.rowChart('#commentatorRow');
				commentsPerCommentatorRow.width(700)
										 .height(500)
										 .dimension(commentatorDim)
										 .group(commentsPerCommentator)
										 .elasticX(true)
										 .colors('skyblue')
										 .title(function(d){
										 	return "student: "+d.key+"\n"+
										 		   "Total comments: "+d.value;
										 });
			} // end commentatorViz


			function barAspect(){
				var barAspectDim = ndx.dimension(function(d){
					return d.TRIMASPECT;
				});
				var barGroup = barAspectDim.group().reduceCount();
				barAspect = dc.rowChart("#barAspect")
				barAspect.width(700)
						 .height(500)
						 .elasticX(true)
						 .colors('#fdae6b')
          				 .dimension(barAspectDim)
          				 .group(barGroup)
          				} // end of barAspect


			function sentimentChart(sendata){
				var cueX = [];
				var sentimentY = [];
				console.log(sendata);
				sendata["documents"].forEach(function(d){
					cueX.push(d.id);
					// change sentiment range from [0,1] to [-1,1]
					var newSentiRange = (d.score * 2) - 1;
					console.log(newSentiRange);
					sentimentY.push(newSentiRange);
				});

				function toMinute(num){
					return Math.ceil(num/60);
				}

				// convert seconds to minutes
				cueXmin = cueX.map(toMinute);

				var line1 = 
					[{
					x: cueXmin,
					y: sentimentY,
					type: 'bar'
						}];

				var layout = {
					title: 'Sentiment Plot',
					autosize: false,
  					width: 600,
  					height: 500,
					xaxis: {
					  	title: 'Time of comment (seconds)',
					    titlefont: {
					      family: 'Calibri sans serif',
					      size: 14,
					      color: 'black'
					    }
					},
					yaxis: {
					  	title: 'Sentiment polarity (-1 to 1)',
					    titlefont: {
					      family: 'Calibri sans serif',
					      size: 14,
					      color: 'black'
					    }
					}
				};

				Plotly.newPlot('sentiplot',line1, layout);
			} // end sentiment plot


			// initialize selection for sentiment analysis
			var selectedStudent;
			var selectedVid;

			function sentimentCall(){
				// prepare filtered rows of text in AZURE format
				var key1 = "9b4b7fa05c594e5f918dffec08b93f01";
				var key2 = "6bbd5234a15d4c89a413707d0c7976bb";
				var doc = [];
				var comments = {"documents":doc};

				data.forEach(function(d){
					if((d.COMMENTATOR == selectedStudent) && (d.TRIMVIDEO == selectedVid)){
						var singleComment = {};
						singleComment["id"] = d.CUE;
						singleComment["text"] = d.TEXT;
						doc.push(singleComment);
					}
				});
				comments = JSON.stringify(comments);
				// Make call to Azure Service (This code snippet was shared on the Azure site below. Accessed 20/7/2017)
				// https://westus.dev.cognitive.microsoft.com/docs/services/TextAnalytics.V2.0/operations/56f30ceeeda5650db055a3c9

				$(function() {
        				var params = {
            			// Request parameters
        				};
					$.ajax({
	            		url: "https://westus.api.cognitive.microsoft.com/text/analytics/v2.0/sentiment?" + $.param(params),
	            		beforeSend: function(xhrObj){
	             			xhrObj.setRequestHeader("Content-Type","application/json");
	                		xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key",key1);
	            			},
	            		type: "POST",
	            		// Request body
	            		data: comments,
	            		dataType:"json"
	        			})
	        		.done(function(d){
	        			sentimentChart(d);
	        		})
	        		.fail(function() {
	            		alert("error");
	        			});
	    			});
			} // end sentimentCall

			
			function ratingChart(){
				var bubDim = ndx.dimension(function(d){
					return d.COMMENTATOR;
				});

				var ratingByComment = bubDim.group().reduce(
						function (p,v){
							++p.count;
							p.sum += v.Sum;
							p.triggerSum += v.TLSum;
							return p;
						},
						function (p,v){
							--p.count;
							p.sum -= v.Sum;
							p.triggerSum -= v.TLSum;
							return p;
						},
						function(){
							return {
								count: 0,
								sum: 0,
								triggerSum: 0
							};
						}
					);

				rateBubble = dc.bubbleChart('#rateBubble');
				rateBubble.width(1450)
						  .height(600)
						  .dimension(bubDim)
						  .group(ratingByComment)
						  .keyAccessor(function(p){
						  	return p.value.count;
						  })
						  .valueAccessor(function(p){
						  	return p.value.sum;
						  })
						  .radiusValueAccessor(function(p){
						  	//console.log("this is :"+p.value.count+" "+p.value.sum+" "+p.value.triggerSum);
						  	return p.value.sum;
						  })
						  .colorAccessor(function(p){
						  	return p.value.triggerSum;
						  })
						  .colors(["#ffffb2","#fecc5c","#fd8d3c","#e31a1c"])
						  .colorDomain([0,100])
						  .renderHorizontalGridLines(true)
						  .renderVerticalGridLines(true)
						  .maxBubbleRelativeSize(0.3)
					      .x(d3.scale.linear().domain([0, 100]))
					      .elasticX(true)
					      .y(d3.scale.linear().domain([0, 300]))
					      .elasticY(true)
					      .r(d3.scale.linear().domain([0, 700]))
					      .xAxisLabel("Total Number of Comments")
					      .yAxisLabel("Number of Ratings for the Comments ")
					      .renderTitle(true)
					      .title(function(p){
					      	return "Student ID: "+p.key+"\n"+
					      		   "Number of Comments: "+p.value.count+"\n"+
					      		   "Total Ratings: "+p.value.sum+"\n"+
					      		   "Total Learning Trigger Ratings: "+p.value.triggerSum;
					      });

				
			} // end rating chart



			function render_charts(){
				dc.renderAll();
			} // end render_charts



			function run_page(){
				get_csv_vals();
				init_crossfilter();
				cue_bin_viz();
				video_viz();
				commentatorViz()
				barAspect();
				ratingChart();
				render_charts();
			}

			run_page();

			d3.select("#clusterSubmit").on("click",function(){
				num_k = document.getElementById("user_k").value;
				run_page();
				});

			// Getting user input for sentiment analysis
			d3.select("#sentiSubmit").on("click",function(){
				var selectStudent = document.getElementById("selectStudent");
				selectedStudent = selectStudent.options[selectStudent.selectedIndex].value;

				var selectVid = document.getElementById("selectVid");
				selectedVid = selectVid.options[selectVid.selectedIndex].value;

				sentimentCall();
			});

			
			// reset charts after filter operations
			d3.select("a#resetAll").on("click",function(){
				dc.filterAll();
				render_charts();
			});

			d3.select("a#vidReset").on("click",function(){
				commentPerVideoRow.filterAll();
				dc.redrawAll()
			});

			d3.select("a#bubReset").on("click",function(){
				rateBubble.filterAll();
				dc.redrawAll()
			});

			d3.select("a#studReset").on("click",function(){
				commentsPerCommentatorRow.filterAll();
				dc.redrawAll()
			});

			d3.select("a#aspReset").on("click",function(){
				barAspect.filterAll();
				dc.redrawAll()
			});


	}); // end of csv read 
</script>
</body>
</html>