</!DOCTYPE html>
<html>
<head>
	<title>Hello pages</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/css/dc.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_style.css') }}">
	<script src="{{ url_for('static', 
	filename='lib/js/machine_learning.min.js') }}"></script>
	<style type="text/css">
		.heat-box{
			stroke: #000000;
			stroke-width: 2px;
		}
	</style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AVW DASHBOARD</a>
    </div>
</nav>

 <div class="row" style="border-bottom: solid skyblue thin">
 	<div class="col-md-5" id=commentsPerMinute>
 		<h4>Comments per minute</h4>
 	</div>
 	<div class="col-md-3" id=videoRow>
 		<h4>Comments Per Video <small><a href='#' id="vidReset">reset</a></small></h4>
 	</div>
 	<div class="col-md-4" id="commentatorRow">
 		<h4>Comments Per Student</h4>
 	</div>
 </div>

<!-- <div class="row">
 	<div class="col-md-5" id=clusterBar style="padding-left: 5em;">
 			<h4>K-Clusters by Comments at Cuepoints</h4>
 			<form action="index.html">
 			<input type="number" id="user_k" placeholder="k" style=" width: 3em; height: 2.5em">
 			<button type="button" class="btn btn-info" id="clusterSubmit">Submit</button>
 			</form>
 		</div>
 	<div class="col-md-3" id="userPerAspect">
 		<h4>User Per Aspect</h4>
 	</div>
 	<div class="col-md-2">
 	</div>
 </div>-->

 <div id="commentAspectMatrix" style="margin:3em; border-bottom: solid skyblue thin">
 <h4>Student interaction with aspects</h4>
 </div>


 <div class=row id="selectStud" style="margin:3em">
 	<h4>Student sentiment per video</h4>
 	<div class="col-xs-1">
 		<select class="selectpicker show-menu-arrow" title="Choose a student" id="selectStudent">
 			<option>LstudyID599</option>
 			<option>UCW2</option>
			<option>UCW4</option>
			<option>UCW5</option>
			<option>UCW6</option>
			<option>UCW7</option>
			<option>UCW8</option>
			<option>UCW9</option>
			<option>UCW10</option>
			<option>UCW11</option>
			<option>UCW12</option>
			<option>UCW15</option>
			<option>UCT18</option>
			<option>UCT19</option>
			<option>UCT20</option>
			<option>UCT21</option>
			<option>UCT24</option>
			<option>UCT25</option>
			<option>UCT26</option>
			<option>UCT27</option>
			<option>UCF29</option>
			<option>UCF31</option>
			<option>UCM33</option>
			<option>UCM34</option>
			<option>UCT37</option>
			<option>UCT38</option>
			<option>UCT39</option>
			<option>LstudyID209</option>
			<option>LstudyID912</option>
			<option>LstudyID855</option>
			<option>LstudyID599</option>
			<option>LstudyID030</option>
			<option>LstudyID732</option>
			<option>LstudyID636</option>
			<option>LstudyID514</option>
			<option>LstudyID242</option>
			<option>UCW13</option>
			<option>LstudyID491</option>
			<option>UCT23</option>
 		</select>
 	</div>
 	<div class="col-xs-1">
 		<select class="selectpicker" title="choose a course" id="selectVid">
 			<option>TUTORIAL 1</option>
 			<option>TUTORIAL 2</option>
 			<option>TUTORIAL 3</option>
 			<option>TUTORIAL 4</option>
 			<option>EXAMPLE 1</option>
 			<option>EXAMPLE 2</option>
 			<option>EXAMPLE 3</option>
 			<option>EXAMPLE 4</option>
 		</select>
 	</div>
 	<div class="col-xs-1">
 	<button type="button" class="btn btn-info" id="sentiSubmit">Submit</button>
 	</div>
 	</div>
 	<div class="container" id=sentiplot></div>
	<div class="container" id="rateBubble"></div>
	<div class="container" id="bubbleRange"></div>

<!-- js section -->
<script src="{{ url_for('static', filename='lib/js/d3.min.js') }}"></script>
<!--<script src="{{ url_for('static', filename='lib/js/jquery.min.js') }}"></script>-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='lib/js/crossfilter.min.js') }}"></script>
<script src="{{ url_for('static', filename='lib/js/dc.min.js') }}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
		d3.csv("{{ url_for('static', filename='presentationFinal.csv') }}",function(data){

			//initialize crossfilter data holder
			var ndx;

			// initialize number of clusters
			var num_k = 2;

			// Get cuepoint and transform to 2d array for clustering library convenience.
			var cueArray = [];

			var cueClusters = new Array(cueArray.length);
			var result;

			function make2dCue(cuepoint_value){
				var twoDPad = [0];
				twoDPad.push(cuepoint_value);
				cueArray.push(twoDPad);
			}

			function get_csv_vals(){
				data.forEach(function(d){
					d.COMMENTID = +d.COMMENTID;
					d.CUE = +d.CUE;
					d.TRIMVIDEO = d.TRIMVIDEO;
					d.TRIMASPECT = d.TRIMASPECT;
					d.Sum = +d.Sum;
					d.TLSum = +d.TLSum;
					make2dCue(d.CUE);
					d.Cuebin = Math.ceil(d.CUE/60); // 60 sec bins

				});
			}// end get_csv_val
			

			// CLUSTERING SEGMENT ================================================================================

			function run_clustering(){
				    result = ml.kmeans.cluster({
					data: cueArray,
					k: num_k,
					init_using_data: true,
					epochs: 500,
					distance: {type:"euclidean"}
				});
			}

			// reshape cue centroids to 1 dimension
			function reshape_cue(){
				for (j=0;j<result.clusters.length;j++){
					for(k=0;k<result.clusters[j].length;k++){
						cueClusters[result.clusters[j][k]] = Math.round(result.means[j][1]);
					}
					}
			}// end reshape_cue


			// add cuepoint clusters to data.
			function add_cue_clusters(){
				var count = 0;
				data.forEach(function(d){
					d.cueGroups = cueClusters[count];
					count = count + 1;
				});
			} // end add_cue_clusters


			// FILTERING AND CHARTING SEGMENT =======================================================================
			function init_crossfilter(){
				ndx = crossfilter(data);
				console.log("Size of dataset is :",ndx.size());
			} // end init_crossfilter

			// Get cuepoint bins as dimension 
			function cue_bin_viz(){
				var cueDim = ndx.dimension(function(d){
					return d.Cuebin;
				});

				function groupVid(videoName){
					var vid_by_cue = cueDim.group().reduceSum(function(d){
					if(d.TRIMVIDEO==videoName){
						return 1
					}else{
						return 0
					}
					});
					return vid_by_cue;
				}

				var ex1 = groupVid("EXAMPLE 1");
				var ex2 = groupVid("EXAMPLE 2");
				var ex3 = groupVid("EXAMPLE 3");
				var ex4 = groupVid("EXAMPLE 4");
				var tut1 = groupVid("TUTORIAL 1");
				var tut2 = groupVid("TUTORIAL 2");
				var tut3 = groupVid("TUTORIAL 3");
				var tut4 = groupVid("TUTORIAL 4");


				var compositeChart = dc.compositeChart('#commentsPerMinute');

				compositeChart
			        .width(600)
			        .height(400)
			        .x(d3.scale.linear().domain([0,10]))
			        .yAxisLabel("Number of comments")
			        .xAxisLabel("Time (Minutes)")
			        .legend(dc.legend().x(500).y(20).itemHeight(13).gap(5))
			        .renderHorizontalGridLines(true)
			        .elasticX(true)
			        .elasticY(true)
			        .title(function(d){return "minute: "+d.key+"\n"+"Number of comments: "+d.value+"";})
			        .compose([
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#7fc97f')
			                .group(ex1, "EXAMPLE 1")
			                .dashStyle([2,2]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#beaed4')
			                .group(ex2, "EXAMPLE 2")
			                .dashStyle([5,5]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#fdc086')
			                .group(ex3, "EXAMPLE 3")
			                .dashStyle([10,10]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#80b1d3')
			                .group(ex4, "EXAMPLE 4")
			                .dashStyle([15,15]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#386cb0')
			                .group(tut1, "TUTORIAL 1")
			                .dashStyle([20,20]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#f0027f')
			                .group(tut2, "TUTORIAL 2")
			                .dashStyle([20,2]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#bf5b17')
			                .group(tut3, "TUTORIAL 3")
			                .dashStyle([10,5]),
			            dc.lineChart(compositeChart)
			                .dimension(cueDim)
			                .colors('#666666')
			                .group(tut4, "TUTORIAL 4")
			                .dashStyle([15,2,2]),
			            ])
			        .brushOn(false)

				//cueDim.filterAll();

			} //end cue_bin_viz

			function video_viz(){
				var videoDim = ndx.dimension(function(d){
					return d.TRIMVIDEO;
				});

				var commentsPerVideo = videoDim.group().reduceCount();



				// row chart
				var commentPerVideoRow = dc.rowChart('#VideoRow');
				commentPerVideoRow.width(400)
								  .height(400)
								  .dimension(videoDim)
								  .group(commentsPerVideo)
								  .title(function(d){
								  	return d.key+": "+d.value+" comments";
								  });

			} // end video_viz

			function commentatorViz(){
				var commentatorDim = ndx.dimension(function(d){
					return d.COMMENTATOR;
				});

				var commentsPerCommentator = commentatorDim.group().reduceCount();

				var commentsPerCommentatorRow = dc.rowChart('#commentatorRow');
				commentsPerCommentatorRow.width(400)
										 .height(400)
										 .dimension(commentatorDim)
										 .group(commentsPerCommentator)
										 .elasticX(true)
										 .colors('skyblue')
										 .title(function(d){
										 	return "student: "+d.key+"\n"+
										 		   "Total comments: "+d.value;
										 });
			} // end commentatorViz


			// Cluster chart ============================================================================================
			function cluster_viz(){
				var clusterDim = ndx.dimension(function(d){
					return d.cueGroups;
				});
				var commentsPerCluster = clusterDim.group().reduceCount();
				
				var clusterPieChart = dc.pieChart('#clusterBar');
				var minClusterMean = clusterDim.bottom(1)[0].cueGroups;
				var maxClusterMean = clusterDim.top(1)[0].cueGroups;
				clusterPieChart.width(300)
							   .height(300)
							   .dimension(clusterDim)
							   .group(commentsPerCluster)
							   .innerRadius(50);
			} // end cluster_viz


			function aspect_viz(){
				var aspectDim = ndx.dimension(function(d){
					return d.ASPECT;
				});
				var userPerAspect = aspectDim.group().reduceCount(function(d){
					return d.COMMENTATOR;
				});

				var userPerAspectRow = dc.rowChart('#userPerAspect');

				var minAspectUser = aspectDim.bottom(1)[0].ASPECT;
				var maxAspectUser = aspectDim.top(1)[0].ASPECT;

				userPerAspectRow.width(300)
								 .height(400)
								 .dimension(aspectDim)
								 .group(userPerAspect)
								 //.x(d3.scale.linear().domain([minAspectUser,maxAspectUser]))
			} // end aspect viz

			function aspectMatrix(){
				var commentatorAspectDim = ndx.dimension(function(d){
					return [d.TRIMASPECT, d.COMMENTATOR];
				});
				var commentatorAspectCount = commentatorAspectDim.group().reduceCount();
				var colorScale = d3.scale.linear()
										 .domain([0,10])
										 .range(["red","blue"]);
				var aspectHeatMap = dc.heatMap("#commentAspectMatrix");

				aspectHeatMap.width(1400)
							 .height(400)
							 .dimension(commentatorAspectDim)
							 .group(commentatorAspectCount)
							 .keyAccessor(function(d){ return d.key[0]; })
							 .valueAccessor(function(d){ return d.key[1]; })
							 .colorAccessor(function(d){
							 	//console.log(d.key[0]+" "+d.key[1]+" "+d.value); 
							 	return d.value;
							 })
							 .colors(["#d5f9ef","#02addf","#003a89","#000"])
							 .calculateColorDomain()
							 .xBorderRadius(0)
							 .yBorderRadius(0)
							 .title(function(d){
							 	return "Student id: " + d.key[1] + "\n"+
							 		   "Aspect: " + d.key[0] + "\n" +
							 		   "Student used this aspect " + d.value + " time(s) \n"
							 });

			} // end aspectMatrix


			function sentimentChart(sendata){
				var cueX = [];
				var sentimentY = [];
				console.log(sendata);
				sendata["documents"].forEach(function(d){
					cueX.push(d.id);
					// change sentiment range from [0,1] to [-1,1]
					var newSentiRange = (d.score * 2) - 1;
					console.log(newSentiRange);
					sentimentY.push(newSentiRange);
				});

				var line1 = 
					[{
					x: cueX,
					y: sentimentY,
					type: 'bar'
						}];

				var layout = {
					title: 'Sentiment Plot',
					xaxis: {
					  	title: 'Time of comment (seconds)',
					    titlefont: {
					      family: 'Calibri sans serif',
					      size: 14,
					      color: 'black'
					    }
					},
					yaxis: {
					  	title: 'Sentiment polarity (-1 to 1)',
					    titlefont: {
					      family: 'Calibri sans serif',
					      size: 14,
					      color: 'black'
					    }
					}
				};

				Plotly.newPlot('sentiplot',line1, layout);
			} // end sentiment plot


			// initialize selection for sentiment analysis
			var selectedStudent;
			var selectedVid;

			function sentimentCall(){
				// prepare filtered rows of text in AZURE format
				var key1 = "9b4b7fa05c594e5f918dffec08b93f01";
				var key2 = "6bbd5234a15d4c89a413707d0c7976bb";
				var doc = [];
				var comments = {"documents":doc};

				data.forEach(function(d){
					if((d.COMMENTATOR == selectedStudent) && (d.TRIMVIDEO == selectedVid)){
						var singleComment = {};
						singleComment["id"] = d.CUE;
						singleComment["text"] = d.TEXT;
						doc.push(singleComment);
					}
				});
				comments = JSON.stringify(comments);
				// Make call to Azure Service (This code snippet was shared on the Azure site below. Accessed 20/7/2017)
				// https://westus.dev.cognitive.microsoft.com/docs/services/TextAnalytics.V2.0/operations/56f30ceeeda5650db055a3c9

				$(function() {
        				var params = {
            			// Request parameters
        				};
					$.ajax({
	            		url: "https://westus.api.cognitive.microsoft.com/text/analytics/v2.0/sentiment?" + $.param(params),
	            		beforeSend: function(xhrObj){
	             			xhrObj.setRequestHeader("Content-Type","application/json");
	                		xhrObj.setRequestHeader("Ocp-Apim-Subscription-Key",key1);
	            			},
	            		type: "POST",
	            		// Request body
	            		data: comments,
	            		dataType:"json"
	        			})
	        		.done(function(d){
	        			sentimentChart(d);
	        		})
	        		.fail(function() {
	            		alert("error");
	        			});
	    			});
			} // end sentimentCall

			// get user selected variables for rating chart
			var pickedStudent;
			var pickedVid;

			function ratingChart(){
				var bubDim = ndx.dimension(function(d){
					return d.COMMENTATOR;
				});

				var ratingByComment = bubDim.group().reduce(
						function (p,v){
							++p.count;
							p.sum += v.Sum;
							p.triggerSum += v.TLSum;
							return p;
						},
						function (p,v){
							--p.count;
							p.sum -= v.Sum;
							p.triggerSum -= v.TLSum;
							return p;
						},
						function(){
							return {
								count: 0,
								sum: 0,
								triggerSum: 0
							};
						}
					);

				var rateBubble = dc.bubbleChart('#rateBubble');
				rateBubble.width(1400)
						  .height(600)
						  .dimension(bubDim)
						  .group(ratingByComment)
						  .keyAccessor(function(p){
						  	return p.value.count;
						  })
						  .valueAccessor(function(p){
						  	return p.value.triggerSum;
						  })
						  .radiusValueAccessor(function(p){
						  	//console.log("this is :"+p.value.count+" "+p.value.sum+" "+p.value.triggerSum);
						  	return p.value.sum;
						  })
						  .renderHorizontalGridLines(true)
						  .renderVerticalGridLines(true)
						  .maxBubbleRelativeSize(0.3)
					      .x(d3.scale.linear().domain([0, 60]))
					      .elasticX(true)
					      .y(d3.scale.linear().domain([0, 300]))
					      .elasticY(true)
					      .r(d3.scale.linear().domain([0, 800]))
					      .renderTitle(true)
					      .title(function(p){
					      	return "Student ID: "+p.key+"\n"+
					      		   "Number of Comments: "+p.value.count+"\n"+
					      		   "Total Ratings: "+p.value.sum+"\n"+
					      		   "Total Learning Trigger Ratings: "+p.value.triggerSum;
					      });

				
			} // end rating chart



			function render_charts(){
				dc.renderAll();
			} // end render_charts



			function run_page(){
				get_csv_vals();
				run_clustering();
				//reshape_cue();
				//add_cue_clusters();
				init_crossfilter();
				cue_bin_viz();
				video_viz();
				commentatorViz()
				//cluster_viz();
				//aspect_viz();
				aspectMatrix();
				ratingChart();
				render_charts();
			}

			run_page();

			d3.select("#clusterSubmit").on("click",function(){
				num_k = document.getElementById("user_k").value;
				run_page();
				});

			// Getting user input for sentiment analysis
			d3.select("#sentiSubmit").on("click",function(){
				var selectStudent = document.getElementById("selectStudent");
				selectedStudent = selectStudent.options[selectStudent.selectedIndex].value;

				var selectVid = document.getElementById("selectVid");
				selectedVid = selectVid.options[selectVid.selectedIndex].value;

				sentimentCall();
			});

			// Get user input for rating chart
			d3.select("#rateSubmit").on("click",function(){
				var pickStudent = document.getElementById("pickStudent");
				pickedStudent = pickStudent.options[pickStudent.selectedIndex].value;

				/*var pickVid = document.getElementById("pickVid");
				pickedVid = pickVid.options[pickVid.selectedIndex].value; */

				ratingChart();
			});

			d3.select("#vidReset").on("click",function(){
				commentsPerVideoRow.filterAll();
				dc.redrawAll()
			});


			/*
			ORDINAL BAR CHART
				bar1
                .width(800)
                .height(250)
                .dimension(weekday)
                .x(d3.scale.ordinal().domain(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]))
                .xUnits(dc.units.ordinal)
                .group(ordersByWD)
                .y(d3.scale.linear().domain([0, 3200]))
                .margins({top: 20, right: 30, bottom: 50, left: 80})
                .label(function(d) { return d.value})
                ;
			*/

	}); // end of csv read 
</script>

</body>
</html>